{% extends 'base_on.html' %}
{% block content %}

<div class="container">
        <div class="btn-group">
  <button type="button" class="btn btn-info"></button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#"></a></li>
    <li><a href="plataforma"></a></li>
    <li><a href="#"></a></li>

  </ul>
</div>

        <div class="row">
        
            <div class="col-lg-12">
                <h4 class="page-header">
             <small> <a href="#"</a> 
              </small>     <small> <a href="#"></a></small>
                </h4>
                
            </div>

        </div>
        <!-- /.row -->
 <h1>   <h3 class="border">Biblioteca dos<strong> treinamentos gravados </strong> </h3> </h1>
 
 <h4> clique no nome do treinamento para assisti-lo </h4>




        

<div>
<div class="section-left_step">
<div id="menu"> 
              {% for Training in Training %}
              {% if Training.status == "p" and Training.segment == "av" %}
              

                <ol class="breadcrumb">
                
                <li> <a href="{% url 'videovivo' Training.slug  %}" >

                              {% load embed_video_tags %}
                              {% video Training.video as my_video %}
      
                                     
                               {{ my_video.thumbnail }}
    
  



                              {% endvideo %}


                  
                  {{ Training.name }}  </li> 
                </a>
              
              <h4> {{ Training.description }} </h4>
              </ol>
  
  {% endif %}
  {% endfor %}   
            </div> 
</div> 



 

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>






<div class="description">


</div>

</div> 
 

</div> 





{% endblock content %}