{% extends 'base.html' %}
{% block content %}
    <div class="">
        <div class="btn-group">
  <!--<button type="button" class="btn btn-info"></button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#"></a></li>
    <li><a href="plataforma"></a></li>
    <li><a href="#"></a></li> -->

  </ul>
</div>

        <div class="bread">
        <div class= "container"> 
             <div class="col-lg-14">
                <h5 class="page-header">
            <ol class="breadcrumb">
  <li> <a href="#"><span class="label label-primary">{{ title.modulos.trainings }}</span> </a></li>
  <li class="active"><span class="label label-danger">{{ title.modulos.name }}</span></li>

  <li class="active"> <span class="label label-warning"> {{step.name}} </span> </li>
  <br> 
  
  <li class="active"> {{DateTime}}</li>
</ol> 

                </h5> 

              
                
            </div>
          </div>
        </div>

        <!-- /.row -->
 
 

   

<div id= "video">
<div class="container">
<div class="section-left_step">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<div id="">
 <h3>  {{ title.modulos.position }} - {{ title.modulos.name }} </h3> 
 <p> Clique nas etapas abaixo para ver os vídeos correspondentes </p>

  {% for steps in steps %} 
              

                

               <div class="list-group">
<a class="list-group-item active"  href="{% url 'video' steps.id  %}">
<h4 class="list-group-item-heading" aria-pressed="false" autocomplete="off" data-placement="left" title="Tooltip on left" Tooltip on left >{{ steps.name  }}</h4>
<p class="list-group-item-text"></p>


</a>

</div>
  
  
     
  {% endfor %}   

  {% if last.proximo_modulo %}

<h4 class="list-group-item-heading" aria-pressed="false" autocomplete="off"  >Treinamento finalizado</h4>

 {% else %}
  <a class="list-group-item active2"  href="{% url 'etapas'  proximo_modulo %}">
<h4 class="list-group-item-heading" color="white" aria-pressed="false" autocomplete="off"  >Próximo módulo »</h4>
<p class="list-group-item-text"></p>

</a> 


 






{% endif %}





            </div> 
</div> 


</div> 
 
<div class="section-right_step">    
  

 
       
            {% load embed_video_tags %}
            {% video movie as my_video %}
     <iframe 
    src="{{ my_video.url }}?byline=0&amp;portrait=0&amp;color=0069DE&amp;autoplay=1" 
    width="650" height="400" frameborder="0" 
    webkitAllowFullScreen="0" mozallowfullscreen="0" allowFullScreen="0" >
    
  

       



  </iframe> 

 <div id="adicionais">  <h4> {{ step.description }} </h4> </div>




{% endvideo %}



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       
      </div>
    </div>
  </div>
</div>





</div> 
</div> 

</div> 


<!-- Button trigger modal -->


<!-- Modal -->





</div>


</div> 

 

<div>
  
  <div class="container"> 
    
    
 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">  
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title" id="myModalLabel"> {{ title.modulos.name }} </h4>
      </div>
      <div class="modal-body">
        Ficou alguma dúvida? Entre em contato pelo <strong> atendimento.capacitacao@corp.globo.com </strong>
      </div>
      <div class="modal-footer">


       
      </div>
    </div>
  </div>
 </div>
</div> 
<h1></h1>


    
{% endblock content %}
