{% extends 'base.html' %}
{% block content %}
    <div class="">
        <div class="btn-group">
  <!--<button type="button" class="btn btn-info"></button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#"></a></li>
    <li><a href="plataforma"></a></li>
    <li><a href="#"></a></li> -->

  </ul>
</div>

        <div class="bread">
        <div class= "container"> 
             <div class="col-lg-14">
                <h5 class="page-header">
            <ol class="breadcrumb">
  <li> <a href="#">Treinamento: {{ title.modulos.trainings }}</a></li>
  <li class="active">{{ title.modulos.name }}</li>

  <li class="active"> {{step.name}}</li>
  <br> 
  
  <li class="active"> {{DateTime}}</li>
</ol> 

                </h5> 

              
                
            </div>
          </div>
        </div>

        <!-- /.row -->
 
 

   

<div id= "video">
<div class="container">
<div class="section-left_step">
<div id="menu"> 
<div id="your_col">
 <h3>  {{ title.modulos.position }} - {{ title.modulos.name }} </h3> 
 <p> Clique nas etapas abaixo para ver os vídeos correspondentes </p>

  {% for steps in steps %} 
              

                <ul class="timeline">

                
                <li>
                <div class="direction-r">
                  <div class="flag-wrapper">
                 <a href="{% url 'video' steps.id  %}" data-toggle="lightbox" > 


                
               <span class="flag" aria-pressed="false" autocomplete="off" >   {{ steps.name  }} »  </span>  

               </div>
             </div> 
               </li> 

                </a>


                
              
              </ol>
  
     
  {% endfor %}   






            </div> 
</div> 


</div> 
 
<div class="section-right_step">    
  

 
       
            {% load embed_video_tags %}
            {% video movie as my_video %}
     <iframe 
    src="{{ my_video.url }}?byline=0&amp;portrait=0&amp;color=0069DE&amp;autoplay=1" 
    width="650" height="400" frameborder="0" 
    webkitAllowFullScreen="0" mozallowfullscreen="0" allowFullScreen="0" >
    
  

       



  </iframe> 




{% endvideo %}





</div> 
</div> 

</div> 




</div>


</div> 

 <div align="center">
 
{% if last  %}



   

 {% else %}

       <p> Assistiu todas as etapas desse módulo? vá para o próximo </p>

 <a class="btn2" href="{% url 'etapas'  proximo_modulo %}">  

          Próximo módulo »

  </a>       

  {% endif %} 


     



</div> 

<div>
  
  <div class="container"> 
    
    {% if modulos.description == "" and modulos.description == "" %}
    
    {% else %}
    <h3 class="border"> Informações adicionais </h3> 
    <h4> {{ step.description }} </h4>
    {% endif %}

<button class="btn" data-toggle="modal" data-target="#myModal">
  Dúvidas?
</button>
 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">  
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title" id="myModalLabel"> {{ title.modulos.name }} </h4>
      </div>
      <div class="modal-body">
        Ficou alguma dúvida? Entre em contato pelo <strong> capacitacao.treinamentos@corp.globo.com </strong>
      </div>
      <div class="modal-footer">


       
      </div>
    </div>
  </div>
 </div>
</div> 
<h1></h1>


    
{% endblock content %}
