{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="btn-group">
  <button type="button" class="btn btn-info"></button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#"></a></li>
    <li><a href="plataforma"></a></li>
    <li><a href="#"></a></li>

  </ul>
</div>

        <div class="row">
        
            <div class="col-lg-12">
                <h4 class="page-header">
             <small> <a href="{% url 'treinamentos' %}">  treinamentos</a> 
              </small>     <small> <a href="#"> / voltar ao modulo</a></small>
                </h4>
                
            </div>

        </div>
        <!-- /.row -->
 <h1>  {{ title.modulos.name }} </h1>
 <h4> {{ title.modulos.description }} </h4>



        

<div>
<div class="section-left_step">
<div id="menu"> 
  {% for steps in steps %} 
              

                <ol class="breadcrumb">
                
                <li> <a href="{% url 'video' steps.id  %}" data-toggle="lightbox" > 


                  
                  {{ steps.name }}  </li> 
                </a>
              
              </ol>
  

  {% endfor %}   
            </div> 
</div> 



 
<div class="section-right_step">           
       
            {% load embed_video_tags %}
            {% video movie as my_video %}
     <iframe 
    src="{{ my_video.url }}?byline=0&amp;portrait=0&amp;color=ff0179&amp;autoplay=1" 
    width="650" height="400" frameborder="0" 
    webkitAllowFullScreen mozallowfullscreen allowFullScreen >
    
  





  </iframe> 


{% endvideo %}




</div> 
 


</div> 






    
{% endblock content %}
