<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Guru Treinamentos</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/freelancer.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/stylish-portfolio.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="{{ STATIC_URL }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo:400,500' rel='stylesheet' type='text/css'>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54075243-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61268353-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default2 navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/guru_beta.png"/> </a>


             


            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav2 navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   

                    
     
      
    
                    
                       
                     <li>  <a href="#"> Olá, {{ user }} </a> </li>

                    
                    
                    
                    

                    {% if user.is_anonymous %}
      <li> <a href="{% url 'django.contrib.auth.views.login' %}">login</a> </li> 
      {% else %}
     <li>  <a href="{% url 'django.contrib.auth.views.logout' %}">Sair</a> </li> 
      {% endif %}
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
     
 


    
    </section>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">  

    <div class="">
      <div class="">
        
        
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">


       
      </div>
    </div>
  </div> 

    <section class="success" id="about">
        
        <div class="container">
            <div class="row">
                <div class="accordion" id="accordion2">

<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
    Como funciona: <!--<i class="fa fa-plus-circle fa-stack-1x fa-inverse"></i> -->
 
</a>

</div>
<!--<div id="collapseTwo" class="accordion-body collapse"> --> 


              <div class="col-md-4">
<span class="fa-stack fa-4x">
<i class="fa fa-circle fa-stack-2x text-primary"></i>
<i class="fa fa-filter fa-stack-1x fa-inverse"></i>
</span>

<h4 class="service-heading">Aprenda você mesmo</h4>
<hr>
<p class="text-muted">Nesta página, você encontra o conteúdo sobre a plataforma ou produto que deseja aprender.</p>
</div>
<div class="col-md-4">
<span class="fa-stack fa-4x">
<i class="fa2 fa-circle fa-stack-2x text-primary"></i>
<i class="fa fa-list fa-stack-1x fa-inverse"></i>
</span>

<h4 class="service-heading">Módulos</h4>
<hr>
<p class="text-muted">Cada treinamento tem seu conteúdo dividido em módulos. É uma forma fácil  de aprender ou aprimorar seus conhecimentos.  </p>
</div>
<div class="col-md-4">
<span class="fa-stack fa-4x">
<i class="fa3 fa-circle fa-stack-2x text-primary"></i>
<i class="fa fa-play-circle fa-stack-1x fa-inverse"></i>
</span>

<h4 class="service-heading">Etapas</h4>
<hr>
<p class="text-muted">Os módulos são subdivididos em etapas. Nelas, pequenas video aulas explicam tudo o que você precisa saber.</p>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>

    <section id="portfolio" class="section2">
        <div class="container">
            <h3 class="border">  Aprenda <strong> você mesmo </strong> </h3>
                <h4 align="left">Treinamentos em forma de vídeo aulas sobre produtos e plataformas, divididos em módulos e etapas</h4>    
            <div class="">
                <div class="col-lg-12 text-center">
                    <div class="section-left2">
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul >
                    

                     
                    
                    {% for Training in training %}
                        {% if Training.status == "p" and Training.segment == "p" or Training.segment == "pr" %}
                   
<br>
                     
                   <li>  <a href="{% url 'modulos' Training.slug   %} "> <img src="{{ STATIC_URL }}img/lista2.png"> 
                  

                   {{ Training.name }} 
                   



                    </a>
                    </li>
                        {% endif %}
                    {% endfor %}
                     </ul> 
                   </div> 
                     
                     </div> 
                     </div> 

                    <div class="section-right"> 
        
              

                </div>
            
            </div>

           <!-- <div>

            <a class="btn" href="{% url 'treinamentos' %}">  

              Todos os treinamentos»

  </a>              
       </div>    -->
    </section>



<section id="portfolio" class="section2">
        <div class="container">
            <h3 class="border">  Fique <strong> por dentro </strong> </h3>
                <h4 align="left">As últimas novidades sobre os produtos e plataformas explicadas em forma de vídeos</h4>    
            <div class="">
                <div class="col-lg-12 text-center">
                    <div class="section-left2">
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul>
                    

                     
                    
                    {% for Training in training %}
                        {% if Training.segment == "nv" %}
                        <br>
                   
                   <li> <img src="{{ STATIC_URL }}img/lista2.png"> <a href="{% url 'novidades' Training.slug   %} "> 
                  
                   {{ Training.name }} 
                   



                    </a>
                    </li>
                        {% endif %}
                    {% endfor %}
                     </ul> 
                   </div> 
                     
                     </div> 
                     </div> 

                    <div class="section-right"> 
        
              

                </div>
            
            </div>

           <!-- <div>

            <a class="btn" href="{% url 'treinamentos' %}">  

              Todos os treinamentos»

  </a>              
       </div>    -->
    </section>

    


<section id="portfolio" class="section2">
        <div class="container">
            <h3 class="border">  On <strong> Demand </strong> </h3>
                <h4 align="left">Treinamentos gravados que foram ministrados online.</h4>    
            <div class="">
                <div class="col-lg-12 text-center">
                    <div class="section-left2">
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul >
                    

                     
                    
                    {% for Training in training %}
                        {% if Training.segment == "av" %}
                        <br>
                   
                   <li><img src="{{ STATIC_URL }}img/lista2.png"><a href="{% url 'ondemand' Training.slug   %} "> 
                    

                   {{ Training.name }} 
                   
                   



                    </a>
                    </li>
                        {% endif %}
                    {% endfor %}
                     </ul> 
                   </div> 
                     
                     </div> 
                     </div> 

                    <div class="section-right"> 
        
              

                </div>
            
            </div>

           <!-- <div>

            <a class="btn" href="{% url 'treinamentos' %}">  

              Todos os treinamentos»

  </a>              
       </div>    -->
    </section>





            
     
        

    <footer class="text-center">
       
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; globo.com 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>




    

    
    
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ STATIC_URL }}js/classie.js"></script>
    <script src="{{ STATIC_URL }}js/cbpAnimatedHeader.js"></script>
    <script src="{{ STATIC_URL }}js/freelancer.js"></script>

</body>

</html>
