<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Guru - Login</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/freelancer.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}/css/the-big-picture.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">globo.com</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        
                    </li>
                    <li>
                       
                    </li>
                    <li>
                       
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Treinamentos em vídeo-aulas</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iusto, unde, sunt incidunt id sapiente rerum soluta voluptate harum veniam fuga odit ea pariatur vel eaque sint sequi tenetur eligendi.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
  </div> 

    <div class="logar">
      <div class="container">
  <div class="login" align=""> 

<form class="form-signin" role="form" action="{% url 'django.contrib.auth.views.login' %}" method="post">
{% csrf_token %}
<img src="{{ STATIC_URL }}/img/logos_login.png"/>  
<h6>  </h6>

<input class="form-control" required="" placeholder="Digite seu login", id={{ form.username }} 
<input class="form-control" type="password" required="" placeholder="Digite sua senha" id={{ form.password }} 
<label class="checkbox">

<a href="#" data-toggle="modal" data-target="#myModal"> Não tem acesso?</a>
</label>
<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>


</form>

{% if form.errors %}
        <h4>*Seu login ou sua senha estão incorretos, tente novamente.</h4>
    {% endif %}


</div>
</div> 
</div>
</div> 

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title" id="myModalLabel" align="center"> Ambiente exclusivo para colaboradores </h4>
      </div>
      <div class="modal-body">
        Se ainda não tem acesso, solicite ao seu gestor um login junto a equipe de <strong> atendimento de platafomas</strong>
      </div>
      <div class="modal-footer">
        
       
      </div>
    </div>


    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ STATIC_URL }}/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>

</body>

</html>
