<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Guru Treinamentos</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/freelancer.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/stylish-portfolio.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="{{ STATIC_URL }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54075243-1', 'auto');
  ga('send', 'pageview');

</script>

</head>


<body background="{{ STATIC_URL }}/img/biblioteca.jpg" fixed >

 
 
  
<div class="container">

	<div class="login" align=""> 

<form class="form-signin" role="form" action="{% url 'django.contrib.auth.views.login' %}" method="post">
{% csrf_token %}
<img src="{{ STATIC_URL }}/img/login.png"/>  
<h6> Seu portal de treinamentos da globo.com </h6>




<button class="btn btn-lg btn-primary btn-block" type="submit" href="/">Logar novamente </button>


</form>




</div>


</div> 


 <script src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ STATIC_URL }}js/classie.js"></script>
    <script src="{{ STATIC_URL }}js/cbpAnimatedHeader.js"></script>
    <script src="{{ STATIC_URL }}js/freelancer.js"></script>


</body> 
</html> 