
<html>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
         
       
            {% load embed_video_tags %}
            {% video movie as my_video %}
     <iframe 
    src="{{ my_video.url }}?byline=0&amp;portrait=0&amp;color=ff0179&amp;autoplay=1" 
    width="650" height="400" frameborder="0" 
    webkitAllowFullScreen mozallowfullscreen allowFullScreen >
    
  </iframe> 

  

{% endvideo %}


</div>
</div>
</div>

</html> 