{% extends 'base.html' %}
{% block content %}

   <div class="container">
<p> <br> </p>
       
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><h3 class="border">todos os <strong> Treinamentos </strong> </h3>
               <h1></h1>

                <div class="btn-group">
  <button type="button" class="btn btn-info">Filtrar por</button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
   
  </button>
  
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% url 'treinamentos' %}">Todos</a></li>
    <li><a href="{% url 'treinamentos_plataforma' %}">Treinamento de plataformas</a></li>
    <li><a href="{% url 'treinamentos_produto' %}">Treinamento de produtos</a></li>
   
  </ul>
</div>

            </div>

        </div>
        <!-- /.row -->
  <p></p>


  
        <div class="row">
             {% for Training in object_list %}
              {% if Training.status == "p" and Training.segment == "p" or Training.segment == "pr" %}

                 
             

            <div class="col-md-3 portfolio-item">
                <a href="{% url 'modulos' Training.slug   %} ">
                {{ Training.name }}
                    
                    <img src="{{ Training.icon }}" alt="" />
 
               </a>
               

               
            

            </div>

            
            
            {% endif %}

            {% if Training in object_list < 0 %}
             Não existem treinamentos cadastrados 
             {% endif %}

             

            {% endfor %}

            
        </div>

        

        

    </div>

   


    <!-- /.container -->

    
    <!-- /.container -->

    <!-- JavaScript -->
    

{% endblock content %}
