.cabecalho-produto .marca-produto {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url ("globoid.png");
    background-position: 0 26px;
    background-repeat: no-repeat;
    margin-top: -2px;
    width: 162px;
}

#siteLogo {
    background-color: transparent;
    background-image: url("http://plataformas.admin.globoi.com/pf/gc/o/cadun/desktop/globoid.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 80px;
    margin-bottom: 10px;
    width: 162px;
}

body .cor-produto-border, body .cor-produto-border-hover:hover {
    border-color: #0660B8 !important;
}

body .cor-produto-background {
    background-color: #0660B8 !important;
}

#glb-menu .menu-borda-baixo {
background-color: #0660B8 !important;
display:block;
}

.carrosselproduto {
    height: 260px !important;
    background: url("http://s.glbimg.com/pf/gc/f/original/2011/10/14/globoid.png") no-repeat scroll 587px 0 transparent !important;
}

#glb-menu ul.menu-itens li a {
    text-transform: none !important;
}

.glb-carrossel-container {
    background: none !important;
    padding-bottom: 0 !important;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li.posicao-2 a {
    background: url("http://s.glbimg.com/pf/gc/media/estrutura/img/box/agrupamento_ranking/numbers.gif?7104c9d4925f") no-repeat scroll 5px 0 transparent !important;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li.posicao-3 a {
    background: url("http://s.glbimg.com/pf/gc/media/estrutura/img/box/agrupamento_ranking/numbers.gif?7104c9d4925f") no-repeat scroll 5px -80px transparent !important;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li.posicao-4 a {
    background: url("http://s.glbimg.com/pf/gc/media/estrutura/img/box/agrupamento_ranking/numbers.gif?7104c9d4925f") no-repeat scroll 5px -158px transparent !important;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li.posicao-5 a {
    background: url("http://s.glbimg.com/pf/gc/media/estrutura/img/box/agrupamento_ranking/numbers.gif?7104c9d4925f") no-repeat scroll 5px -236px transparent!important;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li.posicao-6 a {
    background: url("http://s.glbimg.com/pf/gc/media/estrutura/img/box/agrupamento_ranking/numbers.gif?7104c9d4925f") no-repeat scroll 5px -314px transparent !important;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li a {
    padding: 0 0 0 38px !important;
}

.carrosselproduto .item-carrosselproduto p {
    width: 460px !important;
    font-size: 20px !important;
}

.carrosselproduto .item-carrosselproduto h1 {
    width: 560px !important;
    font-size: 57px !important;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li {
    font-size: 14px !important;
    padding: 14px 0 !important;
}

.widget-titulo strong {
    padding: 18px 0 18px 15px !important;
}

/* DÃƒÂ¡ um espaÃƒÂ§o entre o tÃƒÂ­tulo e o conteÃƒÂºdo */
.materia-conteudo h2, .materia-conteudo h3, .materia-conteudo h4 {
    padding-bottom: 15px;
}

/* Coloca scroll nas caixas de cÃƒÂ³digo quando o conteÃƒÂºdo nÃƒÂ£o cabe dentro da caixa */
.highlight {
    overflow-x: auto;
}

/* Para evitar que o conteudo da tabela fique 'colada' na borda */
.materia-conteudo td {
    padding: 3px;
}

.materia-conteudo thead th {
    padding: 3px;
    background-color: #EEEEEE;
}

