body {
    overflow-x: hidden;
    background-color:  none;

}

p {
    font-size: 15px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0; 
    color: #0669DE;
}

h3,
h5,
h6 {
    text-transform: ;
    font-family: "Proxima Nova",Arial,Helvetica,sans-serif; 
    font-style: normal; 
    font-weight: 300;
    text-transform: uppercase;
    text-rendering:optimizelegibility;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #fff;
    
}
header .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding: 200px 0 100px;
    }

    header .intro-text .name {
        font-size: 5em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 20px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2.7em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 4em;
    }
}

.navbar {
    text-transform: ;
    font-family: "Proxima Nova",Arial,Helvetica,sans-serif;
    font-weight: 500;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 0px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
    color: #333333;
    
}

.section {

    background: none repeat scroll 0 0 #F7F7F7 ;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset;
    padding-bottom:1%;
    padding-top: 10%;
    text-align: center;

}

.section2 {

    background: none repeat scroll 0 0 #F7F7F7 ;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset;
    padding-bottom:1%;
    padding-top: 2%;
    text-align: center;
    
}

.section2 h3{

    text-align: left
}

h3.border:after {
    background-color: #333333;
    content: "";
    display: block;
    height: 7px;
    margin-top: 8px;
    width: 82px;
}

h3.border2:after {
    background-color: #e0901f;
    content: "";
    display: block;
    height: 7px;
    margin-top: 8px;
    width: 82px;
    color: #3190f1;
}




h3.border3:after {
    background-color: #333333;
    content: "";
    display: block;
    height: 7px;
    margin-top: 8px;
    width: 82px;
}

h3.border4:after {
    background-color: ;
    content: "";
    display: block;
    height: 7px;
    margin-top: 8px;
    width: 82px;

}

h3.border {
    border-bottom: 1px solid #EDEDED;
}

h3.border2 {
    border-bottom: 1px solid #EDEDED;
}

h3.border3 {
    border-bottom: 1px solid #EDEDED;
}

h3.border4 {
    border-bottom: 1px solid #EDEDED;
}

section.training {
    padding: 70px 0;
    background-image: linear-gradient(#dcd7d9, #f9f7f8) ;
    color: white;
    background: none repeat scroll 0 0 #F7F7F7 ;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset;
}


.section-left {
    
    
    width: 100%;
    padding-right: %;
    padding-bottom: 3%;
    font-family: 'Exo',sans-serif;    
    font-size: 30px;
    text-align: center;
    padding-right: 7%;
}


.section-left2 {
    
    float: left;
    width: ;
    padding-right: 30%;
    text-align: left;

}


.section-right {
    float: right;
    width: 43%;

}



.section-left_step {
    float: left;
    width: 40%;

}



.section-right_step {
    float: right;
    width: 43%;
    padding-right: 60%;

}


.section-right_step {
    float: right;
    width: 1%;
    padding-right: 55%;
    padding-top: 6%

}

.descricao{
    float: right;
    width: 500%;
    padding-left: 18%;
    padding-right: 400%;

}


section h2 {
    margin: 0;
    font-size: 30px;
}

section.success {
    color: #000000;
    background:url("../images/fundo.gif") repeat scroll 0 0 #FFFFFF;
    padding-top: 1%;
    padding-left: 0%;
    padding-bottom: 0%;
    border-bottom: 1px solid #DDDDDD;
}
.accordion-heading{
    text-align: left;
    font-size: 15px;
    padding-bottom: 3%;
    height: 1px;
    padding-left: 1.2%;
    font-family: "Proxima Nova",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    font-weight: 600;

}


    
    


@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: white;
}


html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
    padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;} 

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-image: linear-gradient(#333333, #222222);
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color:#333333;
    font-family: "Proxima Nova",Arial,Helvetica,sans-serif;
    font-size: 15px;
}


.description{

width: 500px;
    height: 100px;
    border: 2px solid #fff;

}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}



body {
    counter-reset: subsection;
}











#step {

padding-bottom: ;

}


#step h4 {

width: ;

}

#video {

    background-color: #333333;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    z-index: 0;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.login{

background:none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
text-align: center;
width: 52%;
border-radius: 10px 10px 10px 10px ;
padding: 5%;
margin-left: auto;
margin-right: 3%;
padding-left: 10px;
padding-right: 10px;
margin-top: 100px;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
opacity: 0.99;

z-index: 999999999;
overflow: hidden;

}

.logar{

padding-right: 30%;

}





.login h6, a {

color:black;

}

.login h4 {

    color:red;
}

.intro {

width: 30px;
padding-bottom: 40px;
height: 120px;
padding-left: 5%;
}




/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: -19%;
  top: 0;
  content: ' ';
  display: block;
  width: 3px;
  height: 60%;
  margin-left: -1px;
  background-color: #FF8D13;
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 4px 8px 4px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -10px;
  background: #FF8D13;
  border-radius: 10px;
  border: 3px solid #FFFFFF;
  z-index: 10;
}

.direction-r .flag:before {
  left: -43px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
    width: 100%;
    padding: 4em 0 1em 0;
}

.timeline li {
    padding: 2em 0;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;

    text-align: center;
}

.flag-wrapper {
    text-align: center;
}

.flag {
    background: rgb(255,255,255);
    z-index: 15;

}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245,245,245);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    
  z-index: 15;
}



@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
    margin: 1em 4em 0 4em;
}

h2:before {
    color: #3E8ACF;
    content: counter(subsection, decimal) " ";
    counter-increment: subsection;
    display: inline-block;
    font-size: 32px;
    height: 2em;
    line-height: 2em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 2em;

}



.bread {

  background-color: #333333;
  color: white; 
}



#init li  {
      display:inline



}

