@CHARSET "UTF-8";

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}



#quadro {

  background-image: url("/static/img/alg-classroom-jpg.jpg");
  background-size: 100%;


}



.login-form {
	margin: 50px auto;
	max-width: 446px;
	font: 14px/2.6em Lato, serif;
	color: #808080;
}

.login-form .panel {
	border: 3px solid #e4e4e4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	opacity:0.9;
}
	.login-form .panel a {
		color: #00aeef;
	}
	.login-form .panel .panel-body {
		padding: 18px 40px 30px 40px;
	}
	.login-form .panel .panel-footer {
		line-height: 2.2em;
		padding: 20px 40px 20px 40px;
		background: #f6f6f6;
		color: #606060;
	}
form[role=login] {
	color: #808080;
}	
	form[role=login] h2 {
		font-size: 34px;
	}
	form[role=login] section {
		margin: 15px 0;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 15px;
		margin: 5px 0;
	}
	form[role=login] label {
		margin: 0;
		font-weight: normal;	
	}
	form[role=login] input {
		color: #0b2344;
		background: #f6f6f6 !important;
		border: 1px solid #d8d8d8;
		margin: 0;
	}
		form[role=login] input::-webkit-input-placeholder {
			color: #8899a6;
		}
		form[role=login] input:-moz-placeholder {
			color: #8899a6;
		}
		form[role=login] input::-moz-placeholder {
			color: #8899a6;
		}
		form[role=login] input:-ms-input-placeholder {  
			color: #8899a6;
		}